<header id="top-header">
    <span class="site-name">
        <a href="/" title="Return to homepage">CSE Motors</a>
    </span>
    <div id="tools">
        <nav>
            <ul id="tools-unlisted">
              <li class="tools-list"><a href="/">Home</a></li>
              <% if (loggedin) { %>
                <li class="tools-list"><a href="/account">Welcome <%= firstname || 'Basic' %></a></li>
                <li class="tools-list"><a href="/account/logout">Logout</a></li>
              <% } else { %>
                <li class="tools-list"><a href="/account/login">My Account</a></li>
              <% } %>
            </ul>
          </nav>
    </div>
</header>