<h1>Welcome to CSE Motors</h1>
<%- messages() %> 
<div id="hero-section">
    <img src="../images/vehicles/delorean.jpg" alt="Delorean">   
    <article>   
       <h2><b id="article-bold">DMC Delorean</b></h2>    
       <p><br>
        3 Cup holders<br>Superman Doors<br>Fuzzy Dice!</p>
        <button>Own Today</button>
    </article>
</div>
<div id="grid-div">
    <section id="updates">
        <h2>Delorean Upgrades</h2>
        <div id="upgrade-grid">
            <figure>
                <img src="../images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <figcaption>Flux Capacitor</figcaption>
            </figure>
            <figure>
                <img src="../images/upgrades/flame.jpg" alt="Flame Decals">
                <figcaption>Flame Decals</figcaption>
            </figure>
            <figure>
                <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                <figcaption>Bumper Sticker</figcaption>
            </figure>
            <figure>
                <img src="../images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <figcaption>Hub Caps</figcaption>
            </figure>
        </div>

    </section>
    <section id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <h3>"So fast its almost like traveling in time". (4/5)</h3>
        <h3>"Coolest ride on the road". (4/5)</h3>
        <h3>"I'm feeling MCfly!". (5/5)</h3>
        <h3>"The most futuristic ride of our day". (4.5/5)</h3>
        <h3>"80's living and I love it". (5/5)</h3>

    </section>
</div>