/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin:0 auto;
}

#wrapper {
  background-color: white;
  padding:10px;
}

#top-header {
  display: flex;
  justify-content: space-between;
  color:black;
  background-color: white;
  margin:0;
  padding: 2rem;
}

nav {
  display: flex;
  justify-self: center;
  width: 100%;
  color: white;
  background-color: black;
  margin:0;
  padding:0;
}

#nav-div{
  display: grid;
  color: white;
  background-color: black;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 1.5rem;
}

#nav-div li {
  display:flex;
  justify-content: center;
  color: white;
  text-decoration-line: none;
}

#nav-link a {
  color: white !important;
}

h1 {
  color: black;
  background-color: white;
  margin:0;
  padding:0;
}

#hero-section {
  display: block;
  position: relative;
}

#hero-section img {
  display: flex;
  justify-self: center;
}

article {
  display: block;
  position: absolute;
  top: 25px;
  left: 50px;
  color: rgb(108, 190, 234);
  background-color:rgb(255, 255, 255,0.8);
  font-size: large;
}

#article-bold {
  font-size: x-large;
  font-weight: 900;
}

article button {
  width: 90%;
  border: 1px solid rgb(255, 255, 255,0.8);
  color: black;
  background-color: rgb(108, 190, 234);
  font-size: large;
  font-weight: 700;
  padding:10px;
  justify-self: flex-start;
}
#active {
   text-decoration: underline;    z-index: 2;
}

#grid-div {
  display: block;
}

#upgrade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:10px;
}

#upgrade-grid figure {
  display: block;
  margin:0;
  padding:10px;
  justify-items: center;
  background-color: rgb(108, 190, 234);
}

figcaption {
  color:rgb(2, 9, 15);
  text-decoration: underline;
}

#reviews p {
  display: list-item;
  list-style-type: disc;
}

@media (min-width: 768px) {

  body {
    background-image: url('../images/site/small_check.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #grid-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  #wrapper {
    margin: 2rem 4rem;
    border: 5px solid rgb(108, 190, 234);
    border-radius: 10px;
    background-color: white;
    padding:10px;
  }
}