/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin:0 auto;
}

#wrapper {
  background-color: white;
  padding:10px;
}

main {
  padding: 20px;
}

#top-header {
  display: flex;
  justify-content: space-between;
  color:black;
  background-color: white;
  margin:0;
  padding: 2rem;
}

nav {
  display: flex;
  justify-self: center;
  width: 100%;
  color: white;
  background-color: black;
  margin:0;
  padding:0;
}

#nav-div{
  display: grid;
  color: white;
  background-color: black;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 1.5rem;
}

#nav-div li {
  display:flex;
  justify-content: center;
  color: white;
  text-decoration-line: none;
}

.nav-link a {
  color: white !important;
}

h1 {
  color: black;
  background-color: white;
  margin:0;
  padding:0;
}

#hero-section {
  display: block;
  position: relative;
}

#hero-section img {
  display: flex;
  justify-self: center;
}

article {
  display: block;
  position: absolute;
  top: 25px;
  left: 50px;
  color: rgb(108, 190, 234);
  background-color:rgb(255, 255, 255,0.8);
  font-size: large;
}

#article-bold {
  font-size: x-large;
  font-weight: 900;
}

article button {
  width: 90%;
  border: 1px solid rgb(255, 255, 255,0.8);
  color: black;
  background-color: rgb(108, 190, 234);
  font-size: large;
  font-weight: 700;
  padding:10px;
  justify-self: flex-start;
}
#active {
   text-decoration: underline;    z-index: 2;
}

#grid-div {
  display: block;
}

#upgrade-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:10px;
}

#upgrade-grid figure {
  display: block;
  margin:0;
  padding:10px;
  justify-items: center;
  background-color: rgb(108, 190, 234);
}

figcaption {
  color:rgb(2, 9, 15);
  text-decoration: underline;
}

#reviews p {
  display: list-item;
  list-style-type: disc;
}

/*styling the grid display views of the various car classifications when clicked for view*/
#inv-display {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#inv-display li {
  display: block;
  justify-content: center;
  justify-items: center;
  border: 1px solid rgb(22, 31, 15, 0.2);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0,0,0,0.1);
  width: 100%;
  list-style: none;
}

#inv-display >li>a>img {
  width:100%;
}

/*Single Item view*/
#item-display{
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}

.details-color-var{
  background-color: rgba(234, 225, 225, 0.8);
}

#item-details {
  display: block;
  justify-content: center;
}

#item-display img {
  width: 100% !important;
}

.notice {
  color: orangered;
  font-style: italic;
}

#flash-div {
  display:block;
}

/*Form and Views Styles*/
#login-form, #register-form, #add-inventory-form, 
#update-account-general-info-form, #edit-account-password-form,
#edit-inventory-form, #add-classification-form, #vehicle-management, #delete-inventory-form  {
  min-width: 90%;
  justify-self:center;
  padding: 10px;
  background-color: rgb(108, 190, 234);
}

#login-form input, #register-form input, #add-inventory-form input, 
#update-account-general-info-form input, #edit-account-password-form input,
#add-classification-form input, #edit-inventory-form input, 
#delete-inventory-form input, #vehicle-management a {
  display: block;
  width:100%;
  margin-top:5px;
  margin-bottom: 5px;
}

#login-form button , #register-form button {
  display: flex;
  margin-top: 20px;
  justify-self: center;
  padding: 5px;
  font-size: large;
  border-radius: 10px;
  border: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255);
}
  
#sign-up-link-info, #sign-in-link-info{
  display:flex;
  justify-self: center;
}

#sign-up-link-info a , #sign-in-link-info a{
  color:rgb(186, 68, 4);
}
.red {
  color: red;
}

#registeration-note, #italics-class-note{
  font-style: italic;
}
/* password view checker*/

#togglePassword {
  display: block !important;
  justify-self: start !important;
  transform: scale(2);
  padding: 0;
  width: 20% !important;
}

/* Styling the iD tools sections*/
.tools-list a {
  color: white !important;
  text-decoration-color: white !important;
}

#leave-page-link {
  display: flex;
  width: 95%;
  padding: 10px;
  justify-content: flex-end;
}
/*Styling Modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background: #fff;
  padding: 1.5rem;
  border-radius: 5px;
}
.close {
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
}

@media (min-width: 768px) {

  body {
    background-image: url('../images/site/small_check.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #grid-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  #wrapper {
    margin: 2rem 4rem;
    border: 5px solid rgb(108, 190, 234);
    border-radius: 10px;
    background-color: white;
    padding:10px;
  }
  #inv-display {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  /*Single Item view*/
  #item-display{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
  }
  #login-form , #register-form{
    min-width:50% !important;
    justify-self:center;
    padding: 10px;
    background-color: rgb(108, 190, 234);
  }

}