<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
  
  <%- messages() %>
  
  <% if (typeof errors !== 'undefined' && errors.array) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
  
  
  <form id="add-classification-form" action="/inv/add-classification" method="POST">
      <h1>Feild is required</h1>
      <b><p id="italics-class-note">NAME MUST BE ALPHABETIC CHARACTERS ONLY</p></b>
      <label for="classification_name">Classification Name: </label>
      <input type="text" id="classification_name" name="classification_name" required value="<%= locals.classification_name || '' %>">
      <button type="submit" value="submit">Add Classification</button>
  </form>
  