<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
  
  <%# messages() %>
    <form id="login-form">
        <label for="email">Email: </label><input type="email" id="email" name="account_email" placeholder="john@examplemail.com" required>
        <label for="password">Password: </label><input type="password" id="password" name="account_password" placeholder="3$6yu457l">
        <button type="submit">Login</button>
        <p id="sign-up-link-info">No account?&nbsp;<a href="/account/register"> Sign-up</a></p>

    </form>